/*
HalfWit coffee roaster store
*/

html {
    font-size: 16px;
}

body {
    font-family: "Merriweather", "georgia", Times, "Times New Roman", serif;
    line-height: 1.5rem;
}

nav {
    position: fixed;
    width: 100%;
    background: #fff;
    top: 0;
    left: 0;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
}

nav a {
    text-decoration: none;
    color: #52B7E9;
    padding: 0 .5rem;
}

nav a:hover {
    color: #008BAF;
}

h1 {
    font-size: 3rem;
    line-height: 3.25rem;
    margin-bottom: 2rem;
}

h3 {
    font-weight: bold;
}

p {
    margin-bottom: 1.5rem;
}

blockquote {
    text-align: center;
}

blockquote p {
    font-size: 1.5rem;
    font-style: italic;
}

blockquote p:before {
    content: "\“";
}

blockquote p:after {
    content: "\”";
}

.container {
    width: 800px;
    margin: auto;
}

/* HEADER */

header {
    padding: 4rem 0;
    background: url(../images/coffee-beans-dark.jpg) 0 0 no-repeat;
    background-size: cover;
    color: #fff;
    margin-bottom: 3rem;
}

header h1 {
    text-align: center;
}

#about {
    padding-top: 3rem;
}

.intro {
    font-size: 0;
}

.intro p {
    display: inline-block;
    font-size: 1rem;
    width: 50%;
    vertical-align: top;
    padding: .75rem;
}

.intro p:first-of-type:first-letter {
    font-size: 3.5rem;
    float: left;
    position: relative;
    margin-top: .75rem;
    padding: 0 .25rem .5rem 0;
}

/* COFFEE TYPES */

.coffee-type-container {
    font-size: 0;
}

.coffee-type {
    width: 25%;
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
    padding: 0 10px;
    margin-bottom: 1rem;
    color: #000;
    text-decoration: none;
}

.coffee-img {
    width: 158px;
    display: inline-block;
    opacity: .75;
}

.description {
    color: #888;
    font-size: .8125rem;
    line-height: 1.25rem;
}

.coffee-type label {
    display: block;
    color: #432B27;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: bold;
    padding-top: .4rem;
    cursor: pointer;
    opacity: .8;
}
